@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&family=Roboto&display=swap');

:root {
    --main-tooltip-display: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #333;
    background: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    margin: 0 0 20px;
    display: flex;
}

p, table, pre, dl {
    margin: 0 0 20px;
}

h1, h2, h3 {
    line-height: 1.1;
}

h1 {
    font-size: 26px;
}

h2 {
    color: #393939;
}

h3, h4, h5, h6 {
    color: #494949;
}

a {
    color: #39c;
    text-decoration: none;
}

a:hover {
    color: #0f5a80;
    text-decoration: underline;
}

b {
    font-weight: 500;
}

/* ==================== TOGGLE ==================== */
#container-toggle {
    display: flex;
    /*display: block;*/
    align-items: center;
    /*justify-content: center;*/
    float: right;
    flex-wrap: wrap;
}

#container-toggle span {
    margin-right: 5px;
    /*top: -10px;*/
}

/* Hide the checkbox input */
#toggle {
    display: none;
}

/* Toggle button style */
.toggle-label {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 30px;
    position: relative;
    transition: background-color 0.3s;
}

/* Toggle button circle */
.toggle-label::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.3s;
}

/* When the checkbox is checked, adjust the style */
#toggle:checked + .toggle-label {
    background-color: #035384;
}

#toggle:checked + .toggle-label::before {
    left: 27px;
}

/* ================================================ */


/* ==================== TOOLTIP ==================== */
/* ToolTip: https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */
/* CSS data-content attribute escapes backslashes */
/* https://stackoverflow.com/questions/31011660/css-data-content-attribute-escapes-backslashes*/
.tooltip {
    position: relative; /* making the .tooltip span a container for the tooltip text */
    border-bottom: 1px dashed #000; /* little indicater to indicate it's hoverable */
    /*width: max-content;*/
    cursor: help;
}

.tooltip-hover {
    position: absolute; /* 다른 element와 겹쳐지도록 */
    z-index: 2; /* 맨 위로 */
    padding-top: 10px;
    margin-left: 20px;
    display: none;
}

.tooltip-content {
    font-size: 0.9em;
    width: max-content;
    max-width: 820px;
    padding: 10px 15px;
    border-radius: 10px;
    background: #505050;
    color: #fff;

    /*!*vertically center*!*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}

.tooltip:hover ~ .tooltip-hover {
    /* '+' means sibiling */
    /* '~' means more flexible sibiling */
    /* sibiling 형태로 작성해야 description 드래그 여부를 결정할 수 있음 */
    display: block;
    cursor: help;
}

.tooltip-hover:hover {
    /*display: block;  !* block의 경우에는 description이 드래그 가능해짐 *!*/
    display: var(--main-tooltip-display);
    cursor: help;
}

/* ================================================= */

/* ==================== HEADER ==================== */
.quote {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    padding: 10px 10px;
}

.quote::before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 0;
    position: relative;
    top: 15px;
    color: #ccc;
    font-size: 2.5em;
}

.quote::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 0;
    position: relative;
    top: 20px;
    color: #ccc;
    font-size: 2.5em;
}

#header {
    margin-top: 30px;
    margin-bottom: 20px;
    border-top: 18px solid #035384;
    border-bottom: 18px solid #035384;
    /*display: flex;*/
}

#profile {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#header.content {
    padding-top: 10px;
    padding-bottom: 10px;
}

#header-info {
    flex: 1 0 auto;
    width: auto;
}

#header img {
    /*flex: 1 0 0;*/
    width: auto;
    height: 180px;
    margin: 15px;
}

#header #biography {
    font-size: 16px;
}

/* ================================================= */

/* MAIN */
.content {
    margin: 0 auto;
    max-width: 900px;
    background-color: #fff;
    padding: 30px;
    border-top: 18px solid #035384;
    border-bottom: 18px solid #035384;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.content#main {
    font-size: 16px;
}

.content h3 {
    position: relative;
}

.content h3:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 70px;
    height: 1px;
    background-color: #1378b2;
    display: block;
}

.content .sparse-list {
    padding-bottom: 15px;
}

.content .sparse-list:last-child {
    padding-bottom: 0;
}

.content .small {
    margin-top: -50px;
    font-size: 0.8em;
}

.footnotes {
    font-size: 0.8em;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
    /*padding: 30px;*/
    margin-bottom: 20px;
}