@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #333;
    background: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    margin: 0 0 20px;
}

p, table, pre, dl {
    margin: 0 0 20px;
}

h1, h2, h3 {
    line-height: 1.1;
}

h1 {
    font-size: 26px;
}

h2 {
    color: #393939;
}

h3, h4, h5, h6 {
    color: #494949;
}

a {
    color: #39c;
    text-decoration: none;
}

a:hover {
    color: #0f5a80;
    text-decoration: underline;
}

b {
    font-weight: 500;
}

/* ToolTip */
/* https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */
.tooltip {
    position: relative; /* making the .tooltip span a container for the tooltip text */
    border-bottom: 1px dashed #000; /* little indicater to indicate it's hoverable */
}

.tooltip:before {
    /*
    CSS data-content attribute escapes backslashes
    https://stackoverflow.com/questions/31011660/css-data-content-attribute-escapes-backslashes
    */
    content: attr(data-text); /* here's the magic */
    white-space: pre-wrap; /* enter in content ( &#10 is \A ) */
    position: absolute;
    z-index: 2;

    /* vertically center */
    /*top: 50%;*/
    /*transform: translateY(-50%);*/

    /* move to right */
    /*left: 100%;*/
    /*margin-left: 15px; !* and add a small left margin *!*/

    /* CUSTOM */
    top: 100%;
    margin-top: 10px; /* and add a small left margin */
    margin-left: 15px; /* and add a small left margin */

    /* basic styles */
    font-size: 0.9em;
    /*width: 400px;*/
    width: max-content;
    max-width: 800px;
    padding: 10px;
    border-radius: 10px;
    background: #505050;
    color: #fff;
    /*text-align:center;*/

    /* the arrow */
    /*border: 10px solid #000;*/
    /*border-color: transparent black transparent transparent;*/

    display: none; /* hide by default */
}

.tooltip:hover:before, .tooltip:hover:after {
    display: block;
}

/* HEADER */
.quote {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    padding: 10px 10px;
}

.quote::before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 0;
    position: relative;
    top: 15px;
    color: #ccc;
    font-size: 2.5em;
}

.quote::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 0;
    position: relative;
    top: 20px;
    color: #ccc;
    font-size: 2.5em;
}

#header {
    margin-top: 30px;
    margin-bottom: 20px;
    border-top: 18px solid #035384;
    border-bottom: 18px solid #035384;
    /*display: flex;*/
}

#profile {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#header.content {
    padding-top: 10px;
    padding-bottom: 10px;
}

#header-info {
    flex: 1 0 auto;
    width: auto;
}

#header img {
    /*flex: 1 0 0;*/
    width: auto;
    height: 180px;
    margin: 15px;
}

#header #biography {
    font-size: 16px;
}

/* MAIN */
.content {
    margin: 0 auto;
    max-width: 900px;
    background-color: #fff;
    padding: 30px;
    border-top: 18px solid #035384;
    border-bottom: 18px solid #035384;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.content#main {
    font-size: 16px;
}

.content h3 {
    position: relative;
}

.content h3:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 70px;
    height: 1px;
    background-color: #1378b2;
    display: block;
}

.content .sparse-list {
    padding-bottom: 15px;
}

.content .sparse-list:last-child {
    padding-bottom: 0;
}

.content .small {
    margin-top: -50px;
    font-size: 0.8em;
}